<h1><strong><center>Welcome to FREESHELF</center></strong></h1>
<hr>
<p><center>
  <h5>FREESHELF is an open source free online library for developers. We are so happy you are here!</h5> 
  <h5>Sign-in, create an account, or browse around.</h5>
</center></p>

<center><%= link_to 'Sign Up', new_user_path, :class => "btn btn-outline-info" %></center>
<center><%= link_to 'Log In', new_session_path, :class => "btn btn-outline-info" %></center>
